<script src="{{ url_for('static', filename='p5.min.js') }}"></script>
<script src="{{ url_for('static', filename='p5.play.js') }}"></script>

<div id="game">

</div>

<script>
    // var fishSprite;
    const INERTIA = 0.05;
    var fish;
    var playerHook;
    var water;
    function setup() {
        createCanvas(800, 400);
        fish = new Group();
        // top down view
        for (let i = 0; i < 9; i++) {
            let fishSprite = createSprite(random(width), random(height));
            fishSprite.color = color(random(127,255), random(64, 127), random(0, 64));
            fishSprite.draw = function() {
                // skew based on direction
                fill(fishSprite.color);
                push();
                rotate(radians(this.getDirection()));
                ellipse(0, 0, 15+(this.getSpeed()), 15-(this.getSpeed()));
                pop();
            }
            fishSprite.maxSpeed = random(0.5, 1);
            fishSprite.setCollider('circle', 0, 0, 10);
            fishSprite.attractionPoint(random(0.5, 1), random(0, width), random(0, height));
            fishSprite.addToGroup(fish);
        }
        water = createSprite(0, 0, width, height);
        water.shapeColor = color('rgba(0, 127, 255, 0.1)');
        water.scale *= 2;
    }
    function draw() {
        background(255);
        /*
        if (frameCount % 120 === 0) {
            fish.forEach(function(f) {
                f.attractionPoint(random(0.5, 1), random(0, width), random(0, height)); 
            });
        } 
        */
        if (playerHook !== undefined) {
            playerHook.debug = true;
            playerHook.overlap(fish, caught);
        }
        if (playerHook !== undefined && playerHook.isHeld) {
            playerHook.width += 10;
        }
        fish.bounce(fish);
        for(var i=0; i<allSprites.length; i++) { // bounce at walls
            var s = allSprites[i];
            if(s.position.x<0) {
                s.position.x = 1;
                s.velocity.x = abs(s.velocity.x);
            }

            if(s.position.x>width) {
                s.position.x = width-1;
                s.velocity.x = -abs(s.velocity.x);
            }

            if(s.position.y<0) {
                s.position.y = 1;
                s.velocity.y = abs(s.velocity.y);
            }

            if(s.position.y>height) {
                s.position.y = height-1;
                s.velocity.y = -abs(s.velocity.y);
            }
        }

        
        drawSprites();
    }
    function mousePressed() {
        if (playerHook !== undefined) {
            // if it exists replace it
            playerHook.remove();
        }
        playerHook = createSprite(width/2, height - (1/10)*height, 20, 20);
        playerHook.isHeld = true;
        playerHook.shapeColor = color(0);
        playerHook.friction = 0.01;
        console.log(playerHook);
    }
    function mouseReleased() {
        let power = playerHook.width;
        playerHook.isHeld = false;
        playerHook.width = playerHook.originalWidth;
        playerHook.attractionPoint(createVector(power, width).normalize().x * 5, mouseX, mouseY);
        playerHook.debug = true;
    }
    function caught() {
        console.log("Fish caught!");
    }
</script>